/.clang-format
/build/
/build_noavx2/
/CMakeCache.txt
/CMakeFiles/
/Makefile
/cmake_install.cmake
/compile_commands.json
/SZ3.cmake
/SZ3Config.cmake
/SZ3ConfigVersion.cmake
/include/SZ3/version.hpp
/tools/sz3/CMakeFiles/
/tools/sz3/Makefile
/tools/sz3/cmake_install.cmake
/tools/sz3/szo
/tools/sz3c/CMakeFiles/
/tools/sz3c/Makefile
/tools/sz3c/cmake_install.cmake
/tools/sz3c/libSZOc.so
