/.clang-format
/build/
/build_noavx2/
/CMakeCache.txt
/CMakeFiles/
/Makefile
/cmake_install.cmake
/compile_commands.json
/SZ3.cmake
/SZ3Config.cmake
/SZ3ConfigVersion.cmake
/include/SZ3/version.hpp
/tools/szo/CMakeFiles/
/tools/szo/Makefile
/tools/szo/cmake_install.cmake
/tools/szo/szo
/tools/szoc/CMakeFiles/
/tools/szoc/Makefile
/tools/szoc/cmake_install.cmake
/tools/szoc/libSZOc.so
